@model List<EpicorWeb.Models.Users>
@{
	ViewData["Title"] = "Users List";

	if (Context.Request.Headers["x-requested-with"] == "XMLHttpRequest")
	{
		Layout = null;
	}
	else
		Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" style="background-color:#ffffff">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<h4 class="card-title pb-4">Users</h4>
				</div>
				<div class="col-md-6 text-end">
					<button type="button" class="btn btn-success btn-lg text-white" id="btnUpdateUsers">Cập nhật</button>
					<div id="resultMessage" style="color: green;"></div>
				</div>
			</div>

			<div class="table-responsive" id="usersListContainer">
				@Html.RenderPartialAsync("_UserListPartialView")
			</div>

		</div>
	</div>
</div>
<div id="myModalContainer">
</div>

<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/multicheck/multicheck.css">
<link rel="stylesheet" type="text/css" href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/dist/css/style.min.css">

<!-- form js -->
<!-- this page js -->
<script src="../../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="../../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>
<link href="~/css/spinner.css" rel="stylesheet" />
<script src="../../dist/js/custom.min.js"></script>
	<script>

		// Định nghĩa hàm gắn sự kiện click cho nút "Sửa"
		function initUpdateButtonEvent() {
			$('.btnEditUser').off('click').on('click', function () {
				var id = $(this).data('id');
				var name = $(this).data('name');
				var groupname = $(this).data('groupname');
				var groupid = $(this).data('groupid');

				openEditGroupsModal(id, name, groupname, groupid);
			});
		}


	</script>

	<script>
		var table = $('#zero_config').DataTable({
			"language": {
				"paginate": {
					"previous": "<<", // Thay đổi nút Previous thành <<
					"next": ">>"      // Thay đổi nút Next thành >>
				}
			}
		});
		table.on('draw.dt', function () {
			initUpdateButtonEvent(); // Gọi hàm mỗi khi bảng vẽ lại
		});
	</script>

	<script>
		document.getElementById('btnUpdateUsers').addEventListener('click', function () {

			// Hiển thị hiệu ứng chờ
			$("#loading-spinner").show();
			// Vô hiệu hóa button
			$("#btnUpdateUsers").prop("disabled", true);

			// Gửi dữ liệu bằng Ajax đến controller
			$.ajax({
				url: "/UsersController/UpdateUsers", // Đường dẫn đến action trong controller
				type: "POST",
				success: function (data) {
					// Ẩn hiệu ứng chờ sau khi nhận kết quả từ controller
					$("#loading-spinner").hide();
					// Kích hoạt lại button
					$("#btnUpdateUsers").prop("disabled", false);
					// Xử lý kết quả từ controller
					$("#resultMessage").text("Update được " + data + " dòng.");
				},
				error: function () {
					// Ẩn hiệu ứng chờ nếu có lỗi
					$("#loading-spinner").hide();
					// Kích hoạt lại button
					$("#btnUpdateUsers").prop("disabled", false);
					//-------------------------------------------------------
					$("#resultMessage").text("Đã xảy ra lỗi khi gửi yêu cầu.");
				}
			});
		});
		// $(document).ready(function () {
		// 	$("form").submit(function (e) {
		// 		e.preventDefault(); // Ngăn c
		// 		// Sự kiện khi nút "Xuất Excel Mới" được nhấp
		// 		$("#btnUpdateUsers").click(function () {

		// 			// Hiển thị hiệu ứng chờ
		// 			$("#loading-spinner").show();
		// 			// Vô hiệu hóa button
		// 			$("#btnUpdateUsers").prop("disabled", true);

		// 			// Gửi dữ liệu bằng Ajax đến controller
		// 			$.ajax({
		// 				url: "/UsersController/UpdateUsers", // Đường dẫn đến action trong controller
		// 				type: "POST",
		// 				success: function (data) {
		// 					// Ẩn hiệu ứng chờ sau khi nhận kết quả từ controller
		// 					$("#loading-spinner").hide();
		// 					// Kích hoạt lại button
		// 					$("#btnUpdateUsers").prop("disabled", false);
		// 					// Xử lý kết quả từ controller
		// 					$("#resultMessage").text("Update được " + data + " dòng.");
		// 				},
		// 				error: function () {
		// 					// Ẩn hiệu ứng chờ nếu có lỗi
		// 					$("#loading-spinner").hide();
		// 					// Kích hoạt lại button
		// 					$("#btnUpdateUsers").prop("disabled", false);
		// 					//-------------------------------------------------------
		// 					$("#resultMessage").text("Đã xảy ra lỗi khi gửi yêu cầu.");
		// 				}
		// 			});
		// 		});
		// 	});
		// });
	</script>

	<script>
		$('.btnEditUser').on('click', function () {
			var id = $(this).data('id');
			var name = $(this).data('name');
			var groupname = $(this).data('groupname');
			var groupid = $(this).data('groupid');

			openEditGroupsModal(id, name, groupname, groupid);
		});

		function openEditGroupsModal(id, name, groupname, groupid) {
			$.ajax({
				url: '/UsersController/EditUsers',
				type: 'GET',
				data: { id: id, name: name, groupname: groupname, groupid: groupid },
				success: function (modalHtml) {
					$('#myModalContainer').html(modalHtml);
					$('#editGroups').modal('show');
				},
				error: function () {
					alert('Đã xảy ra lỗi khi gọi controller.');
				}
			});
		}

	</script>


@section css {
	<link rel="stylesheet" type="text/css" href="~/assets/extra-libs/multicheck/multicheck.css">
	<link rel="stylesheet" type="text/css" href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css" href="~/dist/css/style.min.css">
}

@section script {
	<!-- form js -->
	<!-- this page js -->
	<script src="../../assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
	<script src="../../assets/extra-libs/multicheck/jquery.multicheck.js"></script>
	<script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>
	<link href="~/css/spinner.css" rel="stylesheet" />
	<script src="../../dist/js/custom.min.js"></script>
	<script>

		// Định nghĩa hàm gắn sự kiện click cho nút "Sửa"
		function initUpdateButtonEvent() {
			$('.btnEditUser').off('click').on('click', function () {
				var id = $(this).data('id');
				var name = $(this).data('name');
				var groupname = $(this).data('groupname');
				var groupid = $(this).data('groupid');

				openEditGroupsModal(id, name, groupname, groupid);
			});
		}

		var table = $('#zero_config').DataTable({
			"language": {
				"paginate": {
					"previous": "<<", // Thay đổi nút Previous thành <<
					"next": ">>"      // Thay đổi nút Next thành >>
				}
			}
		});

		table.on('draw.dt', function () {
			initUpdateButtonEvent(); // Gọi hàm mỗi khi bảng vẽ lại
		});
	</script>

	<script>

		document.getElementById('btnUpdateUsers').addEventListener('click', function () {

			// Hiển thị hiệu ứng chờ
			$("#loading-spinner").show();
			// Vô hiệu hóa button
			$("#btnUpdateUsers").prop("disabled", true);

			// Gửi dữ liệu bằng Ajax đến controller
			$.ajax({
				url: "/UsersController/UpdateUsers", // Đường dẫn đến action trong controller
				type: "POST",
				success: function (data) {
					// Ẩn hiệu ứng chờ sau khi nhận kết quả từ controller
					$("#loading-spinner").hide();
					// Kích hoạt lại button
					$("#btnUpdateUsers").prop("disabled", false);
					// Xử lý kết quả từ controller
					$("#resultMessage").text("Update được " + data + " dòng.");
				},
				error: function () {
					// Ẩn hiệu ứng chờ nếu có lỗi
					$("#loading-spinner").hide();
					// Kích hoạt lại button
					$("#btnUpdateUsers").prop("disabled", false);
					//-------------------------------------------------------
					$("#resultMessage").text("Đã xảy ra lỗi khi gửi yêu cầu.");
				}
			});
		});
		// $(document).ready(function () {
		// 	$("form").submit(function (e) {
		// 		e.preventDefault(); // Ngăn c
		// 		// Sự kiện khi nút "Xuất Excel Mới" được nhấp
		// 		$("#btnUpdateUsers").click(function () {

		// 			// Hiển thị hiệu ứng chờ
		// 			$("#loading-spinner").show();
		// 			// Vô hiệu hóa button
		// 			$("#btnUpdateUsers").prop("disabled", true);

		// 			// Gửi dữ liệu bằng Ajax đến controller
		// 			$.ajax({
		// 				url: "/UsersController/UpdateUsers", // Đường dẫn đến action trong controller
		// 				type: "POST",
		// 				success: function (data) {
		// 					// Ẩn hiệu ứng chờ sau khi nhận kết quả từ controller
		// 					$("#loading-spinner").hide();
		// 					// Kích hoạt lại button
		// 					$("#btnUpdateUsers").prop("disabled", false);
		// 					// Xử lý kết quả từ controller
		// 					$("#resultMessage").text("Update được " + data + " dòng.");
		// 				},
		// 				error: function () {
		// 					// Ẩn hiệu ứng chờ nếu có lỗi
		// 					$("#loading-spinner").hide();
		// 					// Kích hoạt lại button
		// 					$("#btnUpdateUsers").prop("disabled", false);
		// 					//-------------------------------------------------------
		// 					$("#resultMessage").text("Đã xảy ra lỗi khi gửi yêu cầu.");
		// 				}
		// 			});
		// 		});
		// 	})
		// });
	</script>

	<script>
		$('.btnEditUser').on('click', function () {
			var id = $(this).data('id');
			var name = $(this).data('name');
			var groupname = $(this).data('groupname');
			var groupid = $(this).data('groupid');

			openEditGroupsModal(id, name, groupname, groupid);
		});

		function openEditGroupsModal(id, name, groupname, groupid) {
			$.ajax({
				url: '/UsersController/EditUsers',
				type: 'GET',
				data: { id: id, name: name, groupname: groupname, groupid: groupid },
				success: function (modalHtml) {
					$('#myModalContainer').html(modalHtml);
					$('#editGroups').modal('show');
				},
				error: function () {
					alert('Đã xảy ra lỗi khi gọi controller.');
				}
			});
		}

	</script>
}
