@model int
@{
    ViewData["Title"] = "Customer Price List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" style="background-color:#ffffff">
    <div class="col-md-6 mt-3 ms-3">
                    <h4 class="card-title pb-4">Vinam Customer Price List</h4>
                    <hr />
                </div>
    <div class="card col-md-4 m-4">
        <div class="d-grid gap-3 col-12 mx-auto">
            <button type="button" class="btn btn-secondary w-50 p-3 text-uppercase" onclick="exportExcel()">Export Excel CSPL</button>
            @* <button type="button" class="btn btn-secondary w-50 p-3 text-uppercase" onclick="ImportExcel()">Import Excel</button> *@
            <h1>Import Excel</h1>
            @* <p id="insertMessage" class="hidden">Đã insert được @Model dòng.</p> *@
            <form method="post" enctype="multipart/form-data" asp-controller="VinamPriceList" asp-action="PriceListVNImportExcel" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="excelFile">Chọn tệp Excel:</label>
                    <input type="file" id="excelFile" name="file" class="form-control-file" accept=".xlsx, .xls" />
                </div>
                <div id="resultMessage" style="color: green;"></div>
                <span id="errorMessage" style="color: red;"></span><br /><br />
                <button type="submit" class="btn btn-primary" id="importExcel">Import</button>
            </form>
            <!-- Hiệu ứng chờ -->
            <div id="loading-spinner">
                <div class="spinner"></div>
            </div>
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" type="text/css"
          href="~/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/quill/dist/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link href="~/css/spinner.css" rel="stylesheet" />
}

@section script{
    <!-- form js -->
    <script src="~/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="../../dist/js/custom.min.js"></script>
    <script>
        /*datwpicker*/
        jQuery('.datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true,
            orientation: 'bottom'
        });
        // var quill = new Quill('#editor', {
        //     theme: 'snow'
        // });

    </script>
    <script>
        function exportExcel() {
            // Gửi một yêu cầu HTTP GET đến controller và hành động cụ thể
            window.location.href = "/VinamPriceList/VinamPriceListExportExcel";
        }
    </script>
    <script type ="text/javascript" language="javascript">
        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault(); // Ngăn chặn form gửi dữ liệu một cách thông thường

                var excelFileInput = document.getElementById("excelFile");
                var errorMessage = document.getElementById("errorMessage");

                // Kiểm tra xem input file có giá trị không
                if (!excelFileInput.value) {
                    errorMessage.textContent = "Vui lòng chọn một tệp Excel trước khi nhấn Import.";

                    // Sử dụng setTimeout để ẩn thông báo sau 3 giây
                    setTimeout(function () {
                        errorMessage.textContent = ""; // Đặt nội dung thành chuỗi rỗng để ẩn đi
                    }, 3000); // 3000 mili giây = 3 giây

                    return false; // Ngăn chặn gửi form
                }

                // Hiển thị hiệu ứng chờ
                $("#loading-spinner").show();
                // Vô hiệu hóa button
                $("#importExcel").prop("disabled", true);

                // Tạo FormData để chứa tệp Excel
                var formData = new FormData($(this)[0]);

                $.ajax({
                    url: '@Url.Action("PriceListVNImportExcel", "VinamPriceList")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        // Ẩn hiệu ứng chờ sau khi nhận kết quả từ controller
                        $("#loading-spinner").hide();
                        // Kích hoạt lại button
                        $("#importExcel").prop("disabled", false);
                        // Xử lý kết quả từ controller
                        $("#resultMessage").text("Update được " + data + " dòng.");
                    },
                    error: function () {
                        // Ẩn hiệu ứng chờ nếu có lỗi
                        $("#loading-spinner").hide();
                        // Kích hoạt lại button nếu có lỗi
                        $("#importExcel").prop("disabled", false);
                        //-------------------------------------------------------
                        $("#resultMessage").text("Đã xảy ra lỗi khi gửi yêu cầu.");
                    }
                });
            });
        });
    </script>
    
    }
